 
*{font-family: 'Open Sans', sans-serif;}

 body{
    margin: 0 auto;
 }

.rodape {
    text-align: center;
    color: white;
    background-color: black;
    margin-top: 5%;
    padding-top: 30px;
    padding-bottom: 30px;
}
 

.background{
	display: block;
	background-position: center center;
    left: 0;
    top: 0;
	position: relative;
	height: 100%;
	width: 100%;
    min-height: 900px;
}

.bg{
	background-image: url('../img/bg_body.png');
}

.entrada{
	background-image: url('../img/fundo.jpg');
}

.full{
	background-size: cover;
    position: absolute;
}

.centraliza{
	text-align: center;
}

.container {
    top: 10%;
}

.buttonEntrada {

    background-color: #FB6666;
    border: none;
    color: white;
    padding: 18px 46px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.vermelho {
    background-color: #FB6666;
    color: white;
    /*border: 2px solid #FB6666;*/
}

.verde {
    background-color: #439741;
    color: white;
}

.verde:hover {
    background-color: #2F6A2E;
    color: white;
}

.vermelho:hover {
    background-color: #9C4444;
    color: white;
}

.searchCidade {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../img/search (2).png');
	background-position: 10px 10px;
    background-repeat: no-repeat;
	
	padding-top: 14px;
    padding-right: 100px;
    padding-bottom: 12px;
    padding-left: 40px;
	
    /*padding: 120px 120px 20px 120px;12px 20px 12px 40px*/
}

.titulo{
	font:85px theboldfont;
	text-shadow: black 0.1em 0.1em 0.20em;/*#000 1px -1px, #000 -1px 1px, #000 1px 1px, #000 -1px -1px;*/
	color: white;
}
.subtitulo{
	font:75px theboldfont;
	line-height: 50%;
	text-shadow: black 0.1em 0.1em 0.20em;/*#000 1px -1px, #000 -1px 1px, #000 1px 1px, #000 -1px -1px;*/
	color: white;
	
}

@font-face {
     font-family: theboldfont;
     src: url('font/BebasKai-Regular.otf');
}

.cabecalho {
	position: relative;
	width: 100%;
    background-color: #FB6666; /* Green */
    border: none;
    color: white;
    /*padding: 30px 46px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
	/* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
}

.buttonCabecalho {
    font-family: 'Open Sans', sans-serif;
    background-color: #FB6666; /* Green */
    border: none;
    color: white;
    padding: 30px 46px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /*margin: 4px 2px;*/
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
	float:left;
}

.floatRight {
    float:right;
}

.buttonCabecalhoLogo{
    font-family: 'Open Sans', sans-serif;
    background-color: #FB6666; /* Green */
    border: none;
    /*padding: 30px 46px;*/
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /*margin: 4px 2px;*/
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    float:left;
}

.avatar{
	position: relative;
	background-repeat: no-repeat;
	background-image: url('../img/boy.png');
	padding-left: 40px;
	padding-bottom: 20px;
	padding-top: 6px;
}
.agenda{
	position: relative;
	background-repeat: no-repeat;
	background-image: url('../img/notebook.png');
	padding-left: 40px;
	padding-bottom: 20px;
	padding-top: 6px;
	
}

.minhasSalas{
    position: relative;
    background-repeat: no-repeat;
    background-image: url('../img/office-block.png');
    padding-left: 40px;
    padding-bottom: 20px;
    padding-top: 6px;
    
}

.selecaoSalasLogo{
    position: relative;
    float: center;
    width: 30%;
    padding-top: 10%;
    padding-bottom: 10.5%;
}


.removeSala{
    position: relative;
    width: auto;
    height: auto;
}

.editSala{
    position: relative;
    width: auto;
    height: auto;
}


.containerSala {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 360px;
}

.containerSala:hover {
    border: 1px solid #777;
}

.imgSala {
    width: 100%;
    height: 180px;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.salas{
	position: relative;
	margin-left: 30%;
	margin-top:	10%;
	margin-right: 10%;
	height: auto;
}

.imgSalaSelecionada {
    width: 100%;

}

.salaSelecionada{
    position: relative;
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 10%;
    
    height: auto;
}

.salaSelecionada_edit{
    position: relative;
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 10%;
    
    height: auto;

}
.containerSalaSelecionada {
    border: 1px solid #ccc;
    display: inline-block;
    width: 400px;
}

.Filtro{
	position: absolute;
	margin-left: 0%;
	margin-top:	10.5%;
	width: 20%;
	height:auto;
    background-color: #FB6666; /* Green */
    border: none;
    color: white;
    /*padding: 30px 46px;*/
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
	/* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
	/* padding-top: 20px; */
	
}

.Filtro_edit{
    position: absolute;
    margin-left: 0%;
    margin-top: 5.5%;
    width: 20%;
    height:auto;
    background-color: #FB6666; /* Green */
    border: none;
    color: white;
    /*padding: 30px 46px;*/
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
    /* padding-top: 20px; */
    
}


*:focus {
    outline:none
}
ul {
    list-style:none;
    padding:0;
    margin:0;
}
.menu-sanfona {
    border:1px solid #ccc;
    border-bottom:none;
    background:#eee;
	color: black;
}
.menu-sanfona span {
    padding:10px;
    display:block;
}
.menu-sanfona > li {
    border-bottom:1px solid #ccc;
}
.menu-sanfona li ul {
    background:#fff;
    border-top:1px solid #ccc;
    display:none;
	text-align:left;
	padding-left: 20%;
}

/* a mágica acontece aqui */
.menu-sanfona li:hover ul {
    display:block;
}


.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 186px;
    top:100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}


.filtroData{
	padding-top:	0%;
	height: auto;
}

.selecao_cidade
{
	position: absolute;
	 margin-left: 72%;
	margin-top: 5%;
/* 	margin-right: 0%; */
	height: auto;
}

.selecaoData{
	position: absolute;
	margin-right: 22%;
	margin-top: 5%;	
	margin-left: 30%;	
	height:auto;
	
}

.selecaoData > input{
	text-align: center;
	box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
	/* background-position: 10px 10px; */
    /* background-repeat: no-repeat; */
	width: 70px;	
}

.selecao_cidade_size{
	text-align: center;
	box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
	/* background-position: 10px 10px; */
    /* background-repeat: no-repeat; */
	width: 150px;	
	
}

.alugarBtn{
    width: 150px;
    padding: 0;
    
    /*background-color: #FB6666; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.trocaCidadeBtn{
	width: 150px;
	padding: 0;
	
	background-color: #FB6666; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}


ul.pagination {
	position: static;
	height:auto;
    display: inline-block;
    padding: 0;
    margin-left: 33%;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

ul.pagination li a.active {
    background-color: #FB6666;
    color: white;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

.menu-sanfona > input{
	left: 0;
}


.cabecalhoFiltro{
	position: relative;
	/* margin-left: 0%; */
	width: 100%;
	/* height:auto; */
    /* background-color: #FB6666; */
    /* border: none; */
    /* color: white; */
    /*padding: 30px 46px;*/
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    /* font-size: 16px; */
    /* -webkit-transition-duration: 0.4s;s */
    /* transition-duration: 0.4s; */
	/* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
	padding-top: 20px;
	 padding-bottom: 20px;
	
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  font-size: 20px;
  color: black;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover,
.rating > span:hover ~ span {
  color: transparent;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\2605";
   /* position: absolute; */
   left: 0;
   color: gold;
}

.estrelaPintada {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  font-size: 20px;
  color: gold;
}

button > a{
    text-decoration:none;
    color:white;
}

.descricaoSala{
    position: relative;
    /*float: center;*/
    /*margin-right: 100%;*/
    /*width: auto;*/
    margin-top: 0%;
    margin-left: 2%;
    /*width: auto;*/
    /*border: 1px solid #ccc;*/
    display: inline-block;
    /*width: 400px;*/
}

.decricaoSalaSelecionada
{
    float: left;
}

.iframeMaps{
    border:0px;
}

.btnAlugarContainer
{
    position: relative;
}

.left{
    float: left;
}

.right{
    float: right;
}

.btnAddEmail{
    position: relative;
    width: 24px;
    height: 24px;
    padding-top: 20px;
}

.box{
    position: relative;
}

.addEmail{
    width: 150px;
    padding: 0;
    
    /*background-color: #FB6666;  Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;

    width: 25px;
    height: 25px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
}

.listaInventario
{
   border:1px solid #ccc;
    border-bottom:none;
    background:#eee;
    color: black;
}

.listaInventario span {
    padding:10px;
    display:block;
}

.listaInventario > li {
    border-bottom:1px solid #ccc;
}
.listaInventario li ul {
    background:#fff;
    border-top:1px solid #ccc;
    display:block;
    text-align:left;
    padding-left: 20%;
}

.checkInventario{
    width: 24px;
    height: 24px;
    float: right;
}

.titulotxt{
	text-align: center;
	
}

.participantesTxt{
	padding-left: 25%;
	
}

.participantesForm{
	padding-top: 1%;
	padding-left: 25%;
	
}

.participantesSub{
	padding-top: 1%;
	padding-left: 62.4%;
	
}

.email {
	width:40%;
}

.perfil{

    padding-left: 40%;

}

.mperfil{
    border: 1px solid #DDD;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px 40px 5px 5px;
}

.descricaoSala{
    position: relative;
    display: inline-block;
    margin: 0px 0px 0px 6.23438px;
    width: 380px;
    height: 125px;
}

.adicionarInventario{
    background-color: white;
}

.noBorder{ 
	border:0px solid transparent; 
	padding: 6px;
	
}
.noBorder:FOCUS{ 
	background-color: #C0D9D9;
}